# Byte-compiled / optimized / DLL files
__pycache__/
python_packages/

# ignore raw data files
*.pkl
*.csv
*.txt
*.log
*.ive
*.osgb
*.xodr
*.url
*.URL
*.osm
*.npy
*.zip

# ignore pictures
*.png
*.jpg
*.pcd.bin
*.pcd


# C extensions
*.so

# ignore result data right now
Model_options/
Latex_files/
ExiD/
IntD/
simulations_1.py
simulations_2.py
simulations_3.py
simulations_4.py
simulations_5.py
simulations_6.py
simulations_7.py
simulations_8.py
simulations_9.py
simulations_10.py
analyse_data.py
analyse_data_2.py
analyse_data_3.py
Load_results.py
CoR_processing_raw.py


# Jupyter Notebook
.ipynb_checkpoints


# pyenv
.python-version


